DB_HOST="localhost"                     # Host de la base de datos
DB_NAME="siigo"                         # Nombre de la base de datos
DB_USER="postgres"                      # Usario de la base de datos
DB_PASSWORD="123456"                    # Contraseña DB

BASE_URL="https://api.siigo.com/"       # Api siigo
SIIGO_USERNAME=""   # Usuario api Siigo

# Access key para el auth Api de Siigo
SIIGO_ACCESS_KEY="" 
SCOPE="SGM" # Partner-id, Cliente registrado para hacer la peticiones en Siigo